                 /* MOBILE STYLE */

.footer{
    background-color: #9f3647;
    width: 100%;
    height: 200px;
}

.footer__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer__links a{
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1em;
}

.footer__links a:last-child{
    padding: 13px 10px;
    background-color: black;
    border-radius: 5px;
    
}


                /* DESKTOP STYLE */

@media screen and (min-width: 768px) {

    .footer__links {
        flex-direction: row;
        gap: 60px;
    }
}