*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    --font-title: "Montserrat", sans-serif;
    --font-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --bg-color: #9f3647;
    --text-color: #f5f5f5;
    --black-color: #181419;
    --button-color: #9f3647;

    font-family: var(--font-text);
    color: var(--text-color);
}


a, li, ul, h1, h2, h3, h4, h5, h6{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

                            /* MOBILE STYLE */

/* HEADER  */

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--bg-color);
    gap: 20px;
    height: 140px;
}

.header__logo h1 a{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.header__logo:hover{
    animation: moveLogo 0.2s ease-in-out 6 alternate;
}

.header__logo h1 > a{
    font-family: var(--font-title); 
    font-size: clamp(1rem, 1.5rem, 3rem);
    color: var(--text-color);
}

.header-nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
    max-width: 500px;
    font-size: 1em;
    padding: 5px 5px;

}

.header-nav__list-item a{
    color: var(--text-color);
}

.header-nav__list :last-child a{
    padding: 8px 10px;
    background-color: rgb(37, 33, 33);
    color: var(--text-color);
    border-radius: 5px;
}

                /* MAIN BANNER */

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(2px) brightness(0.6); 
    z-index: 1;
}

.banner__title {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--text-color);
    padding: 80px 20px;
    font-family: var(--font-title);
    text-shadow: 0px 0px .5px;
}

.banner__title p{
    font-size: clamp(0.8rem, 1.2rem, 2rem);
    margin-top: 30px;
    padding: 20px;
    font-weight: 600;
    text-wrap: balance;
    
}

.banner__title h2{
    font-family: var(--font-title);
    font-size: clamp(1.2rem, 2.3rem, 3rem);
    padding: 10px;
    
}

.banner__button{
    display: inline-block;
    z-index: 2;
    margin-top: 100px;
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: clamp(0.6rem, 1rem, 2rem);
    
}

.banner__button:hover {
    background-color: #f5f5f5;
    color: #9f3647;
    
}







                /* ANIMACIONES */

@keyframes moveLogo{

    from{
        transform: rotate(-5deg);
    }
    to{
        transform: rotate(5deg)
    }
}


                            /* DESKTOP STYLE */

@media screen and (min-width: 768px) {

    .header{
        flex-direction: row;
        justify-content: space-between;
        height: 90px;
        padding: 0 60px 0 60px;
    }
    
    .header__logo h1 > a{
        font-size: 1,5rem;
    }

    .header-nav__list{
        gap: 50px;
        font-size: 1.2em;
    }

    /* MAIN BANNER */

    .banner{
        height: 800px;
        justify-content: center;
        align-content: center;
    }

    .banner__title h2  {
        font-size: 5rem;
        padding-bottom: 30px;
    }

    .banner__title p{
        font-size: 2rem;
    }

    .banner__button{
        font-size: 1.5rem;
        margin-top: 50px;
    }
}