*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


                /* MOBILE STYLE */


.selected-movie__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.selected-movie___banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

.selected-movie__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter : drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    filter: blur(2px) brightness(0.6);
    z-index: 1;
}

.selected-movie__poster {
    position: relative;
    width: 230px;
    height: auto;
    border-radius: 20px;
    z-index: 3;
    bottom: 120px;
}

.selected-movie__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    z-index: 3;
    bottom: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    gap: 30px;
}

.selected-movie__title h2 {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.selected-movie__title h3 {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.selected-movie__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    z-index: 3;
    bottom: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    
    gap: 30px;
}

.selected-movie__description h3 {
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.selected-movie__description p {
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}

                /* DESKTOP STYLE */

@media screen and (min-width: 768px) {

    .selected-movie__poster {
        width: 300px;
        bottom: 20px;
    }

    .selected-movie__title {
        margin-top: 100px;
    }

    .selected-movie__title h2 {
        font-size: 3em;
    }

    .selected-movie__title h3 {
        font-size: 1.5em;
    }

    .selected-movie__description h3 {
        font-size: 2.5em;
    }

    .selected-movie__description p {
        width: 70%;
        font-size: 1.2em;
    }
    
}